html, body {
  font-family: sans-serif;
}

body {
  margin: 15px;
  font-size: 1.2rem;
  background-color: #e4e4e4;
}

.lazyload-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lazyload__img-card img {
  margin: 0 auto;
  height: 300px;
  max-width: 100%;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.lazyload {
  display: block;
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.lazyload_show {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
