html, body {
    font-family: sans-serif;
}
body {
    // height: 2000px;
    margin: 15px;
    font-size: 1.2rem;
    background-color: rgb(228, 228, 228);
}

.lazyload-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lazyload__img-card img {
    margin: 0 auto;
    height: 300px;
    max-width: 100%;
    transition: .5s linear;
}
.lazyload {
    // Обязательно все картинки ленивой загрузки должны быть блочными
    display: block; 
    opacity: 0;
    transform: scale(1.1);
}
.lazyload_show {
    opacity: 1 !important;
    transform: scale(1) !important;
}